*,
*::before,
*::after {
  box-sizing: border-box;
 
}

html {
  direction: rtl;
  text-align: right;
}

body {
  font-family: "Vazirmatn Variable", sans-serif;
  overflow-x: hidden;
}

.ltr {
    direction: ltr;
    text-align: left;
  }
  