@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
 
}

html {
  direction: rtl;
  text-align: right;
}

body {
  font-family: "Vazirmatn", serif;
  overflow-x: hidden;
}

.ltr {
    direction: ltr;
    text-align: left;
  }
  